body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controls {
    display: flex;
    width: fit-content;
    margin: 10px auto;
    gap: 5px;
}

.board {
    background-color: #1c61f2;
    width: fit-content;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border-radius: 8px;
}

.row {
    display: flex;
    gap: 5px;
}

.cell {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}

.reset-button-wrapper {
    text-align: center;
    margin-top: 20px;
}

.game-status-wrapper {
    margin: 20px auto 10px;
    width: fit-content;
    padding: 10px;
    borderRadius: 8px;
}