body {
    font-family: sans-serif;
}

.form-content {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.users-wrapper {
    width: 50%;
}

.user-list {
    width: 100%;
    font-size: 14px
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: fit-content;
}

.form-footer {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}